
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#whack-a-mole {
  background-color: darkolivegreen;
  border: solid 20px #000;
  padding: 20px;
  width: 360px;
  display: flex;
  flex-wrap: wrap;
}

.hole {
  background-image: url("images/hole.png");
  background-size: contain;
  width: 110px;
  height: 123px;
  margin: 5px;
}

.mole {
  background-image: url("images/mole.png");
}